<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="true">
    <!--            注册哪个类-->
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.bt.servet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello1</url-pattern>    <!--这儿有斜杠-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello2</url-pattern>    <!--这儿有斜杠-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>    <!--这儿有斜杠-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>*.do</url-pattern>    <!--这儿有斜杠-->
    </servlet-mapping>
    <!--    404!-->
    <servlet>
        <servlet-name>error</servlet-name>
        <!--        <servlet-class>com.bt.servet.ErrorServlet</servlet-class>-->
        <servlet-class>com.bt.servet.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Demo01</servlet-name>
        <servlet-class>com.bt.servet.Demo01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo01</servlet-name>
        <url-pattern>/Demo01</url-pattern>    <!--这儿有斜杠-->
    </servlet-mapping>
</web-app>
